{% extends 'base.html.twig' %}

{% block title %}Liste des couettes & cafés!{% endblock %}

{% block body %}

    <h1>Liste des Rooms ! ✅</h1>
    {% for room in rooms %}
    <p> La chambre "{{ room.summary }}" a pour id :{{ room.id }} </p>
    {% endfor %}

{% endblock %}